/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sorts Mill Goudy', serif; */
/* font-family: 'Questrial', sans-serif; */

@import url("components/containers.css");
@import url("components/avatars.css");
@import url("components/buttons.css");
@import url("components/banners.css");
@import url("components/cards.css");
@import url("components/testimonials.css");
@import url("components/navbars.css");
@import url("components/footers.css");
@import url("components/forms.css");

body, htm {
  height: 100%;  
}

.transbox {
  /* image used */
  /* background-color:rgba(248, 249, 250, 0.8); */
  background-image: url("images/BackGround2.png" );

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* full height */
  height: 100%;
  /* width: 100%; */
}

body p {
  font-size: 18px;
  text-align: justify;
  text-justify:inter-word;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 16px;
  margin: 16px;
  color: rgb(100, 100, 100)
}

body h2 {
  font-size: 32px;
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Roboto', sans-serif;
  color:rgb(50, 50, 50)
}