#banner{
  color: rgba(255 ,255, 255, 0.9);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0px 240px 0px;
  position: relative;
  /* opacity: 0.9; */
  /* text-align: justify; */
  /* text-justify:inter-word; */
  /* font-size: 40px; */
}

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Sorts Mill Goudy', serif; */


#banner h1{
  font-weight: bold; 
  font-size: 64px;
  text-shadow: 2px 2px 3px rgba(0 ,0, 0, 0.3);
  /* border: 2px solid red; */
  padding: 4px;
  margin: 16px 4px;
  text-align: center;
  text-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);
  /* text-justify:inter-word; */
}


.button{
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items:center; */
  padding: 4px;
  margin: 4px;
}

.logo{
  height: 336px;
  /* border: 2px solid red; */
  margin: 8px 4px 120px 4px;
}