#features {
    border-radius: 4px;
}

.card_stuff{
  border-radius: 8px;
  background-color: 2px solid #BFD0E0;
  margin: 16px;
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);
}

.cardIcon{
  margin: 16px;
  height: 136px;
}

.cardPic{
  margin: 16px;
  height: 400px;
  border-radius: 8px;
}

.cardText {
  margin: 16px;
}

.cardText h2 {
  margin: 8px;
}

.cardText p {
  margin: 0px 8px 8px 8px ;
}

/* Spumante Durello */

.card_travel{
  margin: 16px;
  border-radius: 8px;
  border: #B8B3BE;
}

.card_travel p {
  padding-bottom: 16px;
  margin: 16px 16px 32px 16px;
}

#immagine {
  height: 512px; /* Alternative to background stuff!!!!*/
  width: 100%; /* Alternative to background stuff!!!!*/
  /* object-position: center;  */
  object-fit:  cover; /* Alternative to background stuff!!!!*/
  border-radius: 8px;
  /* border-top-right-radius: 8px; */
  /* border: 2px solid red; */
}

.card_travel h2 {
  text-align: center;
  margin: 32px 16px 16px 16px;
}

.card_category{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

