footer{
  background-color: #B8B3BE;
  border: 1px solid rgb(149, 149, 149);
  margin-top: 40px;
  padding: 16px;
}

.bix{
  padding: 8px;
  margin: 8px 32px;
}

.logofooter{
  height: 208px;
  /* border: 2px solid red; */
  margin: 8px 4px 2px 4px;
}


.catchprase_footer{
  height: 72px;
`}

.list_inline {
  text-align: center;
  /* list-style: none; */
  padding: 0;
  /* margin-right: 100px; */
  /* margin-left: 100px; */
}

.list_inline li {
  display : inline-block;
}

i.fab {
  font-size: 54px;
  /* border: 1px solid red; */
  margin-left: 80px;
  margin-right: 80px;
  padding: 16px;

}

i.fab:hover {
  color: rgba(247, 235, 86);
  /* margin-left: 100px; */
  /* margin-right: 100px; */
}
