.modulistica {
  background-color: #BFD0E0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);

}

/* .maca { */
  /* position: absolute; */
  /* bottom: -55px; */
  /* left: 42%; */
/* } */